body {
    margin: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head {
    width: 180px;
    height: 150px;
    background-color: green;
    border-radius: 100em 100em 0 0;
    border: 2px dashed black;
}

.eyes > .left {
    width: 20px;
    height: 20px;
    border-radius: 100em 100em 100em 100em;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 50px;
    border: 2px dashed black;
}

.eyes > .right {
    width: 20px;
    height: 20px;
    border-radius: 100em 100em 100em 100em;
    background-color: white;
    position: absolute;
    top: 100px;
    right: 50px;
    border: 2px dashed black;
}

.body {
    margin-top: 9px;
    width: 180px;
    height: 200px;
    background-color: green;
    border-radius: 8px 8px 40px 40px;
    border: 2px dashed black;
}

.hands > .left {
    width: 27px;
    height: 105px;
    border-radius: 100em 100em 100em 100em;
    background-color: green;
    position: absolute;
    top: 163px;
    left: -40px;
    border: 2px dashed black;
}

.hands > .right {
    width: 27px;
    height: 105px;
    border-radius: 100em 100em 100em 100em;
    background-color: green;
    position: absolute;
    top: 163px;
    right: -40px;
    border: 2px dashed black;
}

.feets > .left {
    width: 32px;
    height: 105px;
    border-radius: 0 0 100em 100em;
    background-color: green;
    position: absolute;
    top: 340px;
    left: 40px;
}

.feets > .right {
    width: 32px;
    height: 105px;
    border-radius: 0 0 100em 100em;
    background-color: green;
    position: absolute;
    top: 340px;
    right: 40px;
}